/* untuk tablet */

@media all and (max-width: 1000px) {
  .banner-area .fullscreen {
    height: 550px;
  }

  .banner-right .profile {
    width: 300px;
    border-radius: 50%;
  }

  .banner-left h1 {
    font-size: 40px;
  }

  .home-about-area {
    padding-bottom: 0;
  }

  .home-about-left {
    padding-top: 45px;
  }

  .home-about-left .profile-about {
    width: 280px;
    border-radius: 30% 0;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }

  .home-about-right h1 {
    margin-bottom: 35px;
    font-size: 20px;
  }

  .home-about-right p {
    margin-bottom: 30px;
    max-width: 445px;
  }

  .single-fact {
    margin-bottom: 30px;
  }
}

/* untuk smartphone */

@media all and (max-width: 670px) {
  nav ul {
    visibility: hidden;
  }

  .banner-area {
    overflow: auto;
  }

  .col-md-6 {
    width: 100%;
    padding: 0;
  }

  .col-md-12 {
    padding: 0;
  }

  .banner-right .profile {
    width: 300px;
    border-radius: 50%;
  }
  .banner-left {
    margin-top: 130px;
  }

  .banner-left h1 {
    font-size: 30px;
  }

  .banner-right {
    padding: 80px 0 20px;
    text-align: center;
  }

  .banner-right .profile {
    width: 80%;
  }

  .home-about-left {
    padding-bottom: 40px;
  }

  .single-portfolio {
    padding: 15px;
  }

  .single-recent-blog {
    margin-top: 20px;
  }

  footer {
    background-color: #04091e;
    padding: 20px 0;
    text-align: center;
  }

  .footer-left img {
    width: 120px;
    margin-bottom: 0;
  }

  .footer-left p {
    display: none;
  }

  .footer-left .copy {
    display: block;
  }

  .footer-right {
    display: none;
  }
}
